{
	"application" : {
		"host" : "0.0.0.0",
		"port" : 5007,
		"debug" : false
	},
	"colors" : {
		"error" : "#ff0000",
		"alert" : "#ffff00",
		"success" : "#28c12b"
	},
	"mattermost" : {
		"webhook" : "https://mattermost.url/hooks/webhookid",
		"post_user_name" : "JIRA",
		"post_user_icon" : ""
	},
	"jira" : {
		"url" : "http://jira.url:8080/"
	}
}