{
	"application" : {
		"host" : "0.0.0.0",
		"port" : 5007,
		"debug" : false
	},
	"features" : {
		"use_project_to_channel_map" : true,
		"use_project_to_channel_pattern" : true,
		"project_to_channel_pattern" : "jira-", 
		"use_bug_specific_channel" : false,
		"bug_channel_postfix" : "-bugs",
		"use_attachments" : true
	},
	"colors" : {
		"attachement" : "#28c12b"
	},
	"mattermost" : {
		"webhook" : "https://mattermost.url/hooks/webhookid",
		"post_user_name" : "JIRA",
		"post_user_icon" : ""
	},
	"jira" : {
		"url" : "http://jira.url:8080/"
	}
}